
.layout {
  min-height: 10vh;
}

.sider {
  background: #f0f2f5;
  padding: 20px;
}

.content {
  padding: 20px;
}

.footer {
  text-align: center;
  // padding: 5px;
  background: transparent;
  .ant-card {
    background-color: transparent; /* 设置卡片背景为透明 */
    width: 100%; /* 卡片宽度为100% */
    height: 100%; /* 卡片高度为100% */
    border-radius: 10px 10px 0 0; /*如果需要卡片也有圆角 */
    display: flex; /* 使用 Flexbox */
    flex-direction: column; /* 纵向排列 */
    align-items: center; /* 水平居中对齐 */
    justify-content: center; /* 垂直居中对齐 */

  }
}
.ant-layout-sider {
  background-color: transparent; /* 设置背景为透明 */
  border-radius: 10px 10px 0 0; /* 设置圆角 */
  .ant-card {
    background-color: white; /* 设置卡片背景为白色 */
    width: 100%; /* 卡片宽度为100% */
    height: 100%; /* 卡片高度为100% */
    border-radius: 10px 10px 0 0; /* 可选：如果需要卡片也有圆角 */
  }
  
}




.ant-card-head {
  background-color: white; /* 设置卡片头部背景为白色 */
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}
.ai-reply {
  white-space: pre-wrap; /* 保持空格和换行 */
}

/* 打字机特效样式 */
@keyframes typing {
  from {
    opacity: 0; /* 初始透明 */
  }
  to {
    opacity: 1; /* 最终可见 */
  }
}

:root {
  --background-color: #f0f2f5;
  --text-color: #000;
}

.dark-mode {
  --background-color: #1a1a1a;
  --text-color: #fff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
// index.scss
// Header 样式
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #121212;
}

.header-left {
  display: flex;
  align-items: center;
}

.openai-icon {
  color: white;
  margin-right: 8px;
  font-size: 24px;
  cursor: pointer;
}

.ranking-button {
  color: white;
  border-color: white;
  transition: background-color 0.3s, border-color 0.3s;
}

.ranking-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.theme-toggle {
  line-height: 30px;
}

// Layout 样式
.content-layout {
  background-color: var(--bg-color);
  transition: background-color 0.3s ease;
  min-height: 100vh;
  padding: 20px;
}

// Profile 样式
.profile-card {
  height: 100%;
}

.profile-space {
  align-items: center;
}

.profile-avatar {
  border: 2px solid black;
  border-radius: 50%;
}

.profile-name {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.profile-bio {
  text-align: center;
  color: #888;
}

.profile-info {
  text-align: center;
}

.profile-info-item {
  margin-bottom: 8px;
}

// 项目展示
.projects-row {
  flex: 1;
}

// 可视化分析
.visualization-card {
  margin-top: 20px;
}

.visualization-title {
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.visualization-icon {
  margin-right: 8px;
}

.visualization-tabs {
  margin-top: 16px;
}

// 抽屉样式
.drawer-text {
  font-family: monospace;
  white-space: pre-wrap;
}
