.layout {
  min-height: 10vh;
}

.sider {
  background: #f0f2f5;
  padding: 20px;
}

.content {
  padding: 20px;
}

.footer {
  text-align: center;
  // padding: 5px;
  background: transparent;
  .ant-card {
    background-color: transparent; /* 设置卡片背景为透明 */
    width: 100%; /* 卡片宽度为100% */
    height: 100%; /* 卡片高度为100% */
    border-radius: 10px 10px 0 0; /*如果需要卡片也有圆角 */
    display: flex; /* 使用 Flexbox */
    flex-direction: column; /* 纵向排列 */
    align-items: center; /* 水平居中对齐 */
    justify-content: center; /* 垂直居中对齐 */

  }
}
.ant-layout-sider {
  background-color: transparent; /* 设置背景为透明 */
  border-radius: 10px 10px 0 0; /* 设置圆角 */
  .ant-card {
    background-color: white; /* 设置卡片背景为白色 */
    width: 100%; /* 卡片宽度为100% */
    height: 100%; /* 卡片高度为100% */
    border-radius: 10px 10px 0 0; /* 可选：如果需要卡片也有圆角 */
  }
  
}




.ant-card-head {
  background-color: white; /* 设置卡片头部背景为白色 */
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}
.ai-reply {
  white-space: pre-wrap; /* 保持空格和换行 */
}

/* 打字机特效样式 */
@keyframes typing {
  from {
    opacity: 0; /* 初始透明 */
  }
  to {
    opacity: 1; /* 最终可见 */
  }
}

:root {
  --background-color: #f0f2f5;
  --text-color: #000;
}

.dark-mode {
  --background-color: #1a1a1a;
  --text-color: #fff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}