$base-font-size: 10px;

html {
    font-size: $base-font-size;

    // @media (max-width: 1200px) {
    //     font-size: $base-font-size * 0.9375; // 中等屏幕
    // }

    // @media (max-width: 992px) {
    //     font-size: $base-font-size * 0.875; // 小屏幕
    // }

    // @media (max-width: 768px) {
    //     font-size: $base-font-size * 0.8125; // 移动端
    // }
}

.layout{
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background-color: var(--bg-color);
  transition: background-color 0.3s ease; /* 背景颜色过渡 */;
  &::-webkit-scrollbar {
    height: 0px;               /* 控制滚动条的高度 */
    width: 0px;
  }
  .title{
    display: flex;
    justify-content: space-between;
    .left{
      width: 50px;
    }
    .center{
      display: flex;
      margin-top: 15px;
      .logo1{
        width: 38px;
        height: 38px;
      }
      .text{
        font-weight: bold;
        font-size: 30px;
        margin-left: 6px;
        color: var(--text-color);
        transition: color 0.3s ease;
      }
      .logo2{
        width: 46px;
        height: 46px;
      }
    }
    .right{
      width: 50px;
      padding-top: 15px;
    }
  }
  .selector-bar{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    .selector{
      width: 150px;
    }
  }
  .top3-title{
    margin-top: 20px;
    padding-left: 20px;
    display: flex;
    .top3-logo{
      width: 30px;
      height: 30px;
    }
    .text{
      color: var(--text-color);
      transition: color 0.3s ease;
      font-weight: bold;
      font-size: 22px;
      margin-left: 5px;
    }
  }
  .outer{
    width: 100%;
    height: 100%;
    .top{
      // background-color: red;
      width: 100%;
      height: 350px;
      display: flex;
      justify-content: space-evenly;
      .rank{
        position: relative;
        display: grid;
        justify-items: center;
        width: 25%;
        min-width: 200px;
        height: 100%;
        // background-color: pink;
      }
      .rank2{
        .silver-coin{
          position: absolute;
          top: -20px;
        }
        .avatar{
          position: absolute;
          width: 150px;
          min-width: 100px;
          height: 150px;
          border-radius: 50%;
          top: 130px;
          background-color: blue;
          box-shadow: var(--top3-box-shadow);
          transition: box-shadow 0.3s ease; /* 阴影过渡 */;
          overflow: hidden;
          cursor: pointer;
          img {
            width: 100%;
            height: 100%;
            transition: transform 0.3s ease; /* 放大效果过渡 */
          }
          &:hover img {
            transform: scale(1.2);           /* 悬停时放大图片 */
          }
        }
        .name{
          position: absolute;
          font-weight: bold;
          font-size: 16px;
          top: 290px;
          color: var(--text-color);
          transition: color 0.3s ease;
        }
        .silver-medal{
          position: absolute;
          transform: rotate(-20deg) translateX(40px);
          top: 240px;
        }
      }
      .rank1{
        .crown{
          position: absolute;
          top: -30px;
        }
        .avatar{
          position: absolute;
          width: 170px;
          min-width: 100px;
          height: 170px;    /* 宽高比为 1:1 */
          border-radius: 50%;
          top: 120px;
          background-color: blue;
          box-shadow: var(--top3-box-shadow);
          transition: box-shadow 0.3s ease; /* 阴影过渡 */;
          overflow: hidden;
          cursor: pointer;
          img {
            width: 100%;
            height: 100%;
            transition: transform 0.3s ease; /* 放大效果过渡 */
          }
        
          &:hover img {
            transform: scale(1.2);           /* 悬停时放大图片 */
          }
        }
        .name{
          position: absolute;
          font-weight: bold;
          font-size: 18px;
          top: 300px;
          color: var(--text-color);
          transition: color 0.3s ease;
        }
        .gold-medal{
          position: absolute;
          transform: rotate(-20deg) translateX(50px);
          top: 240px;
        }
        .congratulation {
          pointer-events: none; /* 禁用鼠标事件 */
        }
      }
      .rank3{
        .bronze-coin{
          position: absolute;
          top: -20px;
        }
        .avatar{
          position: absolute;
          width: 150px;
          min-width: 100px;
          height: 150px;    /* 宽高比为 1:1 */
          border-radius: 50%;
          top: 130px;
          background-color: blue;
          box-shadow: var(--top3-box-shadow);
          transition: box-shadow 0.3s ease; /* 阴影过渡 */;
          overflow: hidden;
          cursor: pointer;
          img {
            width: 100%;
            height: 100%;
            transition: transform 0.3s ease; /* 放大效果过渡 */
          }
        
          &:hover img {
            transform: scale(1.2);           /* 悬停时放大图片 */
          }
        }
        .name{
          position: absolute;
          font-weight: bold;
          font-size: 16px;
          top: 290px;
          color: var(--text-color);
          transition: color 0.3s ease;
        }
        .bronze-medal{
          position: absolute;
          transform: rotate(-20deg) translateX(40px);
          top: 240px;
        }
      }
    }
    .ranking-title{
      margin-bottom: 20px;
      padding-left: 20px;
      display: flex;
      .ranking-logo{
        width: 27px;
        height: 27px;
      }
      .text{
        color: var(--text-color);
        transition: color 0.3s ease;
        font-weight: bold;
        font-size: 22px;
        margin-left: 5px;
      }
    }
    .bottom{
      // background-color: blue;
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
      .grid{
        display: grid;
        grid-template-columns: repeat(auto-fill, 200px); /* 每个卡片200px，最大自动填充 */
        justify-content: space-between;
        grid-gap: 15px 20px;
        .developer{
          margin-top: 10px;
        }
      }
    }
  }
}